*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #f3f4f5;
  padding: 35px 25px;
  height: 120px;
  font-weight: 400;
}

header > .header-left, header > .header-right {
  display: inline-block;
}

header ul li{
  text-align: center;
  display: inline-block;
  position: relative;
}

header > .header-right, header > .header-left, header > .logo-wrapper{
  float: left;
  height: 36px;
  padding-top: 20px;
}

header li a{
  text-decoration: none;
  color: #86888a;
}

.logo-wrapper{
  display: inline-block;
  text-align: center;
}

#logo img{
  height: 23px;
}

header .header-right .dropdown-menu{
  height: 120px;
  width: 250px;
  display: none;
  position: absolute;
}

header .header-right .dropdown-menu.first{
  margin-top: 20px;
}

header .header-right .dropdown-menu.second{
  margin-top: 20px;
  left: 800px;
}

header .header-right .dropdown-menu.third{
  margin-top: 20px;
  left: 840px;
}

header .header-right .dropdown-menu.fourth{
  margin-top: 20px;
  left: 880px;
}

header .header-right .dropdown-menu.fifth{
  margin-top: 20px;
  left: 920px;
}

header .header-right .dropdown-menu.sixth{
  margin-top: 20px;
  left: 960px;
}

.button{
  background-color: rgba(231, 232, 232, 0.8);
  border-radius: 15px;
  padding: 14px 25px;
}

.btn-grey{
  color: #000;
}

.btn-grey:hover{
  background-color: rgba(231, 232, 232, 1);
}

.btn-black{
  color: #fff;
  background-color: #000;
}

.btn-black:hover{
  opacity: 0.8;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.purple{
  background-color: purple;
}

.t-black{
  color: #000;
}
