*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #FCFCFC;
  padding: 35px 25px;
}

header > .header-left, header > .header-right {
  display: inline-block;
}

header ul li{
  text-align: center;
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

header > .header-right{
  float: right;
  height: 36px;
  padding-top: 20px;

}

header li a{
  text-decoration: none;
  color: #000;
}

header li a img{
  height: 20px;
}

header .header-right .dropdown-menu{
  height: 120px;
  width: 250px;
  display: none;
  position: absolute;
}

header .header-right .dropdown-menu.first{
  margin-top: 20px;
  /* top: 25px;
  left: 50px; */
}

header .header-right .dropdown-menu.second{
  margin-top: 20px;
  left: 800px;
}

header .header-right .dropdown-menu.third{
  margin-top: 20px;
  left: 840px;
}

header .header-right .dropdown-menu.fourth{
  margin-top: 20px;
  left: 880px;
}

header .header-right .dropdown-menu.fifth{
  margin-top: 20px;
  left: 920px;
}

header .header-right .dropdown-menu.sixth{
  margin-top: 20px;
  left: 960px;
}


.button{
  background-color: #F3F4F5;
  border-radius: 50px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.purple{
  background-color: purple;
}

.black{
  background-color: black;
}
