*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #f3f4f5;
  padding: 35px 25px;
  height: 120px;
  font-weight: 400;
}

header ul li{
  text-align: center;
  display: inline-block;
}

header > .header-right, header > .header-left, header > .logo-wrapper{
  float: left;
  height: 36px;
  padding-top: 20px;
}

header > .header-right{
  position: relative;
}

header li a{
  text-decoration: none;
  color: #86888a;
}

header li a:hover{
  color: #000;
}

.logo-wrapper{
  text-align: center;
}

#logo img{
  height: 23px;
}

header .header-right .dropdown-menu{
  display: none;
  position: absolute;
  border-radius: 8px;
  color: #86888a;
  background-color: #fff;
  padding: 15px 18px;
}

header .header-right .dropdown-menu h4{
  padding: 20px 0;
  text-transform: uppercase;
  color: #CED5DB;
}

header .header-right .dropdown-menu h4 span{
  padding-left: 12px;
}

header .header-right .dropdown-menu ul li{
  display: block;
  text-align: left;
  line-height: 50px;
  color: rgb(185, 185, 185);
  position: relative;
}

header .header-right .dropdown-menu ul li span{
  text-transform: uppercase;
  color: blue;
  font-size: 0.6em;
  position: absolute;
  top: -15px;
  left: 65px;
}

header .header-right .dropdown-menu ul li a:hover{
  color: #000;
}

header .header-right .dropdown-menu.first{
  width: 820px;
  margin-top: 20px;
  left: -179px;
}

header .header-right .dropdown-menu.second{
  margin-top: 20px;
  left: 75px;
}

header .header-right .dropdown-menu.third{
  margin-top: 20px;
  left: 185px;
}

header .header-right .dropdown-menu.fourth{
  margin-top: 20px;
  left: 300px;
}

.button{
  background-color: rgba(231, 232, 232, 0.8);
  border-radius: 15px;
  padding: 14px 25px;
  text-decoration: none;
}

.btn-grey{
  color: #000;
}

.btn-grey:hover{
  background-color: rgba(231, 232, 232, 1);
}

.btn-black{
  color: #fff;
  background-color: #000;
}

.btn-black:hover{
  opacity: 0.8;
}

.t-black{
  color: #000;
}
